<!DOCTYPE html>

{% extends 'index/header.html' %}
{% load staticfiles %}
{% block reg %}
    <div class="flight-form" id="register" style="background-color:white; opacity:0.95;">

        {% if registered %}
            <h1 class="sheading" style="font-size: 3em;">Thank you</h1>
        {% else %}
            <h1 class="sheading" style = "font-size: 3em;">Register here</h1>
            <h3>Fill out this form</h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <input type="submit" name="" value="Register">
            </form>

        {% endif %}
    </div>

    <script>
        function checkUserName() {
            // Ajax validation code
        }
        userinput = document.getElementById('id_username');
        if (userinput !== null)
        {
            userinput.onclick = userinput.onchange = userinput.onblur = checkUserName;
        }


    </script>

{% endblock %}