{% extends "index/header.html" %}

{% block content %}
 <div id="flight-form">
		<h1>Flight Search</h1>
            <form method="POST" action="" id="flight" onsubmit = "document.getElementById('result').style.visibility = 'visible';">
                {% csrf_token %}
				{{ form }}
                <!--<label for="your_name">FROM: </label>
<input id="origin" type="text" name="origin" maxlength="4" required />

                TO:<input type="text" name="to-flight">
                DEPART:<input type="date" name="to-flight">
                RETURN:<input type="date" name="to-flight">
                PASSENGERS:<input type="number" name="to-flight"> -->
                <input type="submit" value="Submit">
            </form>
 </div>
<div id="result" >
		UPDATE THIS CODE TO DISPLAY THE DICTIONARY

 </div>
 
{% endblock %}
