{% extends "index/header.html" %}

{% block content %}
 <div id="flight-form">
		<h1>Flight Search</h1>
            <form method="GET" action="result/" id="flight" >
                {% csrf_token %}
				
                 FROM:<input type="text" name="origin" id = "origin" required>
                 TO:<input type="text" name="dest" id = "dest" required>
                DATE:<input type="text" name="date" id = "date" required>
                 Adults:<input type="text" name="adults" id = "adults" required>
                 Childs:<input type="text" name="childs" id = "childs" required>
				  Infants:<input type="text" name="infants" id = "infants" required>
                 <input type="submit" ></input>
             
            </form>
 </div>
{% block result %}
{% endblock %}
{% endblock %}
