{% extends "index/header.html" %}

{% block content %}
{% load static %}
<div id="slideshow-container">

    <div class="mySlides fade">
        <img class = "img" src="{% static 'Home/carousel (1).jpg' %}">
    </div>
    <div class="mySlides fade">
        <img class = "img" src="{% static 'Home/mmm.jpg' %}">
    </div>
    <div class="mySlides fade">
        <img class = "img" src="{% static 'Home/carousel (6).jpg' %}" >
    </div>

    <div class="mySlides fade">
        <img class = "img" src="{% static 'Home/carousel (7).jpg' %}">
    </div>
    <div class="mySlides fade">
        <img class = "img" src="{% static 'Home/carousel (8).jpg' %}">
    </div>
    <div class="mySlides fade">
        <img class = "img" src="{% static 'Home/carousel (9).jpg' %}">
    </div>

</div>
<div id="hcontent" class="animated bounce"><h2>Welcome To Travelista</h2></div>
<div id ="tagcontent" class="animated bounce">One Stop destination for All your Travel Information</div>

<script>
    var slideIndex = 0;

    var body = document.getElementById('bod').style;
    body.backgroundColor = "black";
    body.overflow = "hidden";


    showSlides();

    function showSlides() {
        var i;

        var slides = document.getElementsByClassName("mySlides");
        var images = document.getElementsByClassName("img");
        var carousel = document.getElementById("slideshow-container").style;
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";

        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        slides[slideIndex-1].style.display = "block";
        images[slideIndex-1].style.maxHeight = window.innerHeight * 1.2 + "px";
        images[slideIndex-1].style.maxWidth = window.innerWidth + "px";
        images[slideIndex-1].style.width = window.innerWidth  + "px";
        var aspect_r = 16/9;


        if (window.innerHeight>window.innerWidth)
        {
            images[slideIndex-1].style.maxHeight = 500 + "px";
            images[slideIndex-1].style.maxWidth = 800 + "px";
            imgw = 450 * aspect_r;
            approx_left_margin = (window.innerWidth - imgw)/2;
            carousel.marginLeft = 0.99*approx_left_margin + "px";
            carousel.marginTop = window.innerHeight * 0.20 + "px";

            document.getElementById("hcontent").style.marginLeft =  (window.innerWidth - 300)/2;

        } else
            {
                carousel.marginTop = '-' + window.innerHeight*0.15 + "px";
                images[slideIndex-1].style.height = window.innerHeight * 1.5 + "px";
            }


        //alert("window size:" + window.innerWidth + " image size:" + imgw);
        setTimeout(showSlides, 7000); // Change image every 5 seconds
    }
</script>





{% endblock %}