{% extends "index/header.html" %}

{% block content %}
    <div id="mheading"> <h1>HOTEL SEARCH</h1></div>
        <div class="flight-form">
            <form>
                <span class="fhead">Place</span><input type="text" class="input" name="place" placeholder="Where?">
                <span class="fhead">Check-In:</span><input type="text" name="checkin" class="input" required>
                <span class="fhead">Check-Out:</span><input type="text" name="checkout" class="input" required>
                <span class="fhead">Guests</span><input type="text" name="guests" class="input" required>
                <input type="submit" value="Submit">
            </form>
			</div>
{% endblock %}