{% extends "index/header.html" %}

{% block content %}
    <div id="mheading"> <h1>TRAINS SEARCH</h1></div>
<div class="flight-form">
    <span class="sheading"> <h2>Get Trains b/w Two Stations</h2></span>
    <form method="GET" action=" {{ request.build_absolute_uri }}data/" id="flight" >
        {% csrf_token %}
        <span class="fhead">Source Station Code:</span><input type="text" name="sstn" id = "source" required>
        <span class="fhead">Destination Station Code:</span><input type="text" name="dstn" id = "destination" required>
        <span class="fhead">Date (dd-mm-yyyy):</span><input type="date" name="date" id = "datepicker" required>
        <input type="submit" value="Submit" onclick="getdata()">
    </form>
</div>
{% block body_block %}
{% endblock %}

{% endblock %}