{% extends "index/header.html" %}

{% block content %}
<div id="flight-form">
    <h1>Live Status</h1>
    <form method="GET" action=" {{ request.build_absolute_uri }}data/" id="flight" >
        {% csrf_token %}
        Source Station Code:<input type="text" name="sstn" id = "source" required>
        Destination Station Code:<input type="text" name="dstn" id = "destination" required>
        Date (dd-mm-yyyy):<input type="date" name="date" id = "date" required>
        <input type="submit" value="Submit" onclick="getdata()">
    </form>
</div>
{% block body_block %}
{% endblock %}

{% endblock %}