<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="flight-form">
    <h1>Live Status</h1>
    <form method="GET" action=" {{ request.build_absolute_uri }}data/" id="flight" >
        {% csrf_token %}
        train num:<input type="text" name="number" id = "origin" required>
        DATE:<input type="text" name="date" id = "date" required>
        <input type="submit" value="Submit" onclick="getdata()">
    </form>
</div>
</body>
</html>